*{
    margin: 0;
    padding: 0;
}
html{
    box-sizing: border-box;
}
strong{

    color: rgb(236, 123, 123);
}

body{
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
    color: #fff;
    font-size: 1.1em;
    line-height: 1.5;
    text-align: center;
}
p{
    font-size: 4rem;
    text-align: center;
} 
/* welcome  */

.landing-area{
    width: 100vw;
    height: 100vh;
}

.bg-image {
    position: absolute;
    background:  url(../img/back.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    left: 0;
    z-index: -1;
    opacity: 0.4;
}
.landing-content{
    color: rgb(250, 238, 238);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    min-width: 100%;
    min-height: 100%;
    font-size: 1.8em;
    font-family: 'Bangers', cursive;
    font-weight: bold;
}
.landing-content>p{
    line-height: 1.2;
    font-size: 1.6em;
}

.welcome-button {
    padding: 0.5rem 2rem;
    border: 2px solid white;
    display: inline-block;
    margin: 2rem 0 0;
    border-radius: 3em;
    text-decoration: none;
    color: rgb(250, 238, 238);
    transition: background 500ms ease;
    }
.welcome-button:hover{
        color: #fff;
        background-color:   rgb(236, 123, 123);
        text-decoration: none;
    }

    /* navbar  */
    .navbar{
        background-color:  #5b78c7 ;
        position: sticky;
        top: 0;
        left: 0;
        width: 100%;
        padding: 1rem;   
        margin-bottom: auto; 
    }

    .navbar-header .navbar-brand{
        font-size: 3.5rem;
        font-style: italic;
        position: relative;
        left: 4em;
        right: 0;
        color: rgb(58, 47, 47);
    }
    .navbar-header .navbar-brand:hover{
        color: inherit;
    }
    
    .navbar-default .navbar-nav>li>a {
        color:  #36363696; 
        font-size: 2rem;
    }
    .navbar-default .navbar-nav>li>a:hover{
        color:  inherit; 
    }
    /* about  */
    .about-part{
        text-align: center;
        padding: 2.5em 1.3em;
        background: rgb(245, 235, 235);
        color: rgb(24, 22, 22);
    }
   
    .header{
        max-width: 40rem;
        margin: 0 auto 1.5rem auto;
        padding-top: 1.6em;
        font-size: 3rem;
        align-items: center;
        align-self: center;
    }
    .about-inner-part{
        display: grid;
        grid-template-columns: 33em 1fr;
        align-items: center;
        grid-gap: 3em;
        grid-gap: 0.5em;
        margin: 3.75em;
        padding: 3em 0.5em;
        align-content: center;

     }
     .about-image{
         padding-bottom: 1.25em;
     }
     .about-image> img{
         width: 30em;
         height: 32em;
         border-radius: 50%;
         align-content: center;
     }
     .about-info>p{
         line-height: 1.3em;
         margin: 0 3rem;
         padding: 0 20px;
         font-size: 1.5em;
         text-align: justify;
         align-self: center;
     }

     

    /* portifolio  */
    .projects-part{
        text-align: center;
        padding: 2.5em 1.3em;
        background: #6495ed;
    }
   
    @media(max-width: 23em){
        .projects-header{
            font-size: 4rem;
        }
    }
    .projects-layout{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
        grid-gap: 8rem;
        width: 100%;
        max-width: 80rem;
        margin: 0 auto;
        margin-bottom: 6rem;
        box-shadow: 30px 0px 40px rgba(0,0,0,0.1),
        -30px 0px 40px rgba(0,0,0,0.1);
        

    }
    .project{
        background: cyan;
        box-shadow: 1px 1px 2px rgba(0,0,0,0.5);
        border-radius: 8px;
    }
   
    .project-image{
        height: calc(100%-6.8rem);
        width: 100%;
        object-fit: cover;
    }
    .project-title{
        font-size: 2em;
        padding: 1.25em 0.6em; 
        text-decoration: none;
    }
    .back-to-top{
        font-size: 3.2em;
        color: #fff;
        align-content: center;
        align-self: center;
        align-items: center;
    }

    /* contact  */
    .contact-area{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        min-width: 100%;
        min-height: 60vh;
        padding: 0 2em;
        background: rgb(39, 45, 56);
    }
    .contact-paragraph >p{
        font-size: 5rem;
        font-style: italic;

    }
    .contact-links{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        max-width: 62rem;
        margin-top: 4rem;
        flex-wrap: nowrap;
    }
    .contact-details{
        font-size: 2.4rem;
        text-shadow: 2px 2px 1px blue;
        transition: transform 0.3s ease-out;
    }
    .contact-details:hover{
        transform: translateY(10px);
    }

    /* media queries  */
    @media(max-width: 62em){
        li{
            padding-inline-end: 30px;
        }
        .about-inner-part{
            display: flex;
            flex-direction: inherit;
        }  
        
            .navbar-header .navbar-brand{
                left: 2rem;
            }
    }

    @media(max-width: 59em){
        .about-inner-part{
            display: flex;
            flex-direction: column;
        }
    }
 @media(max-width: 35em){     
    .navbar-header .navbar-brand{
        display: none;
    }
    .contact-paragraph>p{
        font-size: 3rem;
    }
 }
 @media(max-width: 30em){
   .contact-links{
       flex-direction: column-reverse;
   }
   .about-image> img{
    width: 20rem;
    height: 22rem;
   }
  
 }