*{
    margin: 0;
    padding: 0;
}
html{
    box-sizing: border-box;
}
strong{

    color: rgb(236, 123, 123);
}

body{
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
    color: #fff;
    font-size: 1.1em;
    line-height: 1.5;
    text-align: center;
    padding: 0;
    margin: 0;
}
p{
     font-size: 4rem;
    text-align: center; 
}  

/* welcome  */

.landing-area{
    width: 100vw;
    height: 100vh;
}

.bg-image {
    position: absolute;
    background:  url(../img/back.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    left: 0;
    z-index: -1;
    opacity: 0.4;
}
.landing-content{
    color: rgb(250, 238, 238);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    min-width: 100%;
    min-height: 100%;
    font-size: 1.8em;
    font-family: 'Bangers', cursive;
    font-weight: bold;
}
.landing-content>p{
    line-height: 1.2;
    font-size: 1.8em;
}

.welcome-button {
    padding: 0.5rem 2rem;
    border: 2px solid white;
    display: inline-block;
    margin: 2rem 0 0;
    border-radius: 3em;
    text-decoration: none;
    color: rgb(250, 238, 238);
    transition: background 500ms ease;
    }
.welcome-button:hover{
        color: #fff;
        background-color:   rgb(236, 123, 123);
        text-decoration: none;
    }

    /* navbar  */
    .navbar{
        background-color:  #5b78c7 ;
        position: sticky;
        top: 0;
        left: 0;
        width: 100%;
        padding: 1rem;   
        margin-bottom: auto; 
    }

    .navbar-header .navbar-brand{
        font-size: 3.5rem;
        font-style: italic;
        position: relative;
        left: 4em;
        right: 0;
        color: rgb(58, 47, 47);
    }
    .navbar-header .navbar-brand:hover{
        color: inherit;
    }
    
    .navbar-default .navbar-nav>li>a {
        color:  #36363696; 
        font-size: 2rem;
        font-family: 'Libre Baskerville', serif;
    }
    .navbar-default .navbar-nav>li>a:hover{
        color:  inherit; 
    }
    /* about  */
    .about-part{
        text-align: center;
        padding: 2.5em 1.3em;
        background: rgb(245, 235, 235);
        color: rgb(24, 22, 22);
    }
   
    .header{
        max-width: 40rem;
        margin: 0 auto 1.5rem auto;
        padding-top: 1.6em;
        font-size: 3rem;
        align-items: center;
        align-content: center;
        font-family: 'Libre Baskerville', serif;
    }
    .about-inner-part{
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        margin: 3.75em;
        padding: 3em 0.5em;
        align-content: center;
     }

     .about-image{
         padding-bottom: 1.25em;
     }
     .about-image> img{
         width: 30em;
         height: 32em;
         border-radius: 50%;
         align-content: center;
     }
     .about-info >p{
         line-height: 1.8em;
         margin: 0 3rem;
         padding: 0 20px;
         font-size: 1.5em;
         text-align: left;
         align-self: center;
         max-width: 100%;
         max-height: 100%;
     }

     

    /* portifolio  */
    .projects-part{
        text-align: center;
        padding: 2.5em 1.3em;
        background: #5b78c7;
    }
   
    @media(max-width: 23em){
        .projects-header{
            font-size: 4rem;
        }
    }
    .projects-layout{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
        grid-gap: 8rem;
        width: 100%;
        max-width: 80rem;
        margin: 0 auto;
        margin-bottom: 6rem;
        box-shadow: 30px 0px 40px rgba(0,0,0,0.1),
        -30px 0px 40px rgba(0,0,0,0.1);
    }
    .project{
        background: rgb(2, 47, 44);
        box-shadow: 1px 1px 2px rgba(0,0,0,0.5);
        border-radius: 8px;
    }
   
    .project-image{
        height: calc(100%-6.8rem);
        width: 100%;
        object-fit: cover;
    }
    .project-title{
        font-size: 2em;
        padding: 1.25em 0.6em; 
        text-decoration: none;
    }
    .back-to-top{
        font-size: 3.2em;
        color: #fff;
        align-content: center;
        align-self: center;
        align-items: center;
    } 
    /* contact  */


    .contact-area{
        text-align: center;
        min-width: 100%;
        min-height: 40vh;
        padding: 2rem;
        margin: auto; 
        background: rgb(41, 51, 68);
    }
   .contact-paragraph{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-size: 1.3rem;  
        padding: 2rem 1rem;
    }

    .contact-paragraph .header-1{
        font-size: 3.5rem;
        min-width: 4rem; 
        
    }  
    
    .contact-paragraph p{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        font-size: 2rem;
    }
    /* footer  */
     footer{
         padding: 20px;
         margin: 15px;
     }
     .contact-details{
       align-items: center;
       font-size: 30px;
       padding-inline: 20px;
       margin: 3px;
       padding: 2px;
       color: default;
     }
     .contact-details:hover{
         color: white;
     }
    /* media queries  */
    @media(max-width: 62em){
        li{
            padding-inline-end: 30px;
        }
       
            .navbar-header .navbar-brand{
                left: 2rem;
            }
    }

    @media(max-width: 59em){
        .about-inner-part{
            display: inline;
            text-align: justify;
            align-self: center;
            justify-content: center;
        }
        .about-image{
            padding-left: 100px;
        }
    }
    @media(max-width: 35em){  

    .navbar-header .navbar-brand{
        display: none;
    }
    .contact-paragraph>p{
        font-size: 3rem;
    }
 }
   @media(max-width: 30em){
   .contact-links{
       flex-direction: column-reverse;
   }
   .about-image> img{
    width: 20rem;
    height: 22rem;
   }
  
 }